<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp5.Properties.Settings.Microsoft_Access_Baza_dannykh_2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Microsoft_Access_Baza_dannykh_2.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp5.Properties.Settings.Microsoft_Access_Baza_dannykh_2ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Asus\Desktop\Microsoft_Access_Baza_dannykh_2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>